<template>
  <div class="icon-wrapper">
    <img
      class="icon"
      :width="`${width}`"
      :height="`${height}`"
      :src="require(`@/assets/icons/${name}.svg`)"
      alt="example"
    />
  </div>
</template>

<script src="./scripts.js" />

<style src="./styles.scss" lang="scss"/>