<template>
  <div class="content">
    <Diagram :computers="computers"/>
    <div class="computers">
      <ComputerBadge
        v-for="item in computers" :key="item.macAddress"
        :name="item.name"
        :macAddress="item.macAddress"
        :status="item.status"
      ></ComputerBadge>
    </div>
  </div>
  <Terminal :log="logData"/>
</template>

<script>
import ComputerBadge from './components/computer-badge'
import Terminal from './components/terminal'
import Diagram from './components/diagram'
import {MESSAGE_TYPES, STATUSES} from "@/enums";

export default {
  name: 'App',
  components: {
    ComputerBadge,
    Terminal,
    Diagram,
  },
  data() {
    return {
      computers: [],
      logData: []
    }
  },
  mounted() {
    console.log('LOAD;BEGIN;')
    window.ipc.send('READ_FILE', 'LOAD;BEGIN;');
    window.ipc.on('LOAD', (e) => {
      let fields = 0;
      let computers = []
      let computerFields = []
      for (let token of e.split(';')) {
        if (token === 'LOAD') {
          continue
        } else if (token === 'END') {
          break
        } else if (token === 'Computer') {
          fields = 3;
        } else {
          fields -= 1
          computerFields.push(token)
        }
        if (fields === 0) {
          computers.push(this.loadComputer(...computerFields))
          computerFields = []
        }
      }
      this.computers = computers
    });
    window.ipc.on('UPDATE', (e) => {
      let fields = 0;
      let computerData;
      let computerFields = []
      for (let token of e.split(';')) {
        if (token === 'UPDATE') {
          continue
        } else if (token === 'Computer') {
          fields = 3;
        } else {
          fields -= 1
          computerFields.push(token)
        }
        if (fields === 0) {
          computerData = this.loadComputer(...computerFields)
        }
      }
      const computer = this.computers.find((item) => item.macAddress === computerData.macAddress)
      computer.name = computerData.name
      computer.macAddress = computerData.macAddress
      computer.status = computerData.status
      if (computer.status === STATUSES.CONNECTED) {
        this.log(`Устройство ${computer.macAddress} подключилось к сети`)
      } else {
        this.log(`Устройство ${computer.macAddress} отключилось от сети`)
      }
    });
    window.ipc.on('SEND', (e) => {
      let fields = 0;
      let computerData;
      let requestFields = []
      for (let token of e.split(';')) {
        if (token === 'SEND') {
          continue
        } else if (token === 'ERROR') {
          this.error(`Устройство ${e.split(';')[2]} сделало запрос не подключившись к сети`)
          return
        } else if (token === 'WifiResponse') {
          fields = 3;
        } else {
          fields -= 1
          requestFields.push(token)
        }
        if (fields === 0) {
          computerData = this.loadRequest(...requestFields)
        }
      }
      this.log(`Устройство ${computerData.macAddress} получило ответ от сайта ${computerData.address} размером ${computerData.size}`)
    });
    window.ipc.on('ERROR', (e) => {
      this.error(e)
    });
  },
  methods: {
    loadComputer(macAddress, name, status) {
      return  {
        name: name,
        macAddress: macAddress,
        status: STATUSES[status],
      }
    },
    loadRequest(address, size, mac) {
      return  {
        address: address,
        size: size,
        macAddress: mac,
      }
    },
    log(message) {
      this.logData.push({
        id: "id" + Math.random().toString(16).slice(2),
        datetime: new Date(),
        type: MESSAGE_TYPES.INFO,
        text: message
      })
      if (process.env.WEBPACK_DEV_SERVER_URL) {
        console.log(message)
      }
    },
    error(message) {
      this.logData.push({
        id: "id" + Math.random().toString(16).slice(2),
        datetime: new Date(),
        type: MESSAGE_TYPES.ERROR,
        text: message
      })
      if (process.env.WEBPACK_DEV_SERVER_URL) {
        console.log(message)
      }
    }
  }
}
</script>

<style>
#app {
  font-family: JetBrainsMono, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
</style>
