<template>
  <div class="diagram">
    <svg width="100%" height="100%" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <InternetIconComponent
          :x="center - routerIconWidth / 2"
          :y="0"
          :width="routerIconWidth"
          :height="routerIconWidth"
          class="icon"
      />
      <line class="icon"
            :x1="center"
            :y1="routerIconWidth + iconPaddingY"
            :x2="center"
            :y2="computerIconWidth*2 - iconPaddingY"
            stroke="black"
      />
      <RouterIconComponent
          :x="center - routerIconWidth / 2"
          :y="computerIconWidth*2"
          :width="routerIconWidth"
          :height="routerIconWidth"
          class="icon"
      />
      <line class="icon"
        :x1="offset + item.index * (computerIconWidth + iconPaddingX) + computerIconWidth / 2"
        :y1="computerIconWidth*4"
        :x2="(center - routerIconWidth / 2) + routerIconWidth/3 * item.index"
        :y2="computerIconWidth*2+routerIconWidth + iconPaddingY"
        v-for="item in enumerate(computersOnline)"
        :key="item.macAddress"
        stroke="black"
      />
      <ComputerIconComponent
          :x="offset + index * (computerIconWidth + iconPaddingX)"
          :y="computerIconWidth*4"
          :width="computerIconWidth"
          :height="computerIconWidth"
          class="icon" :class="{connected: isConnected(item)}" v-for="(item, index) in computers"
          :key="item.macAddress"
      />
    </svg>
  </div>
</template>

<script src="./scripts.js" />

<style src="./styles.scss" lang="scss"/>