<template>
  <div class="console">
    <div class="line" v-for="item in log" :key="item.id">
      <div class="time">[{{ formatDate(item.datetime) }}]:</div>
      <div class="type" :class="cssClass(item.type)">{{ item.type }}</div>
      <div class="message">{{ item.text }}</div>
    </div>
  </div>
</template>

<script src="./scripts.js" />

<style src="./styles.scss" lang="scss"/>