.console {
    background: black;
    color: #eeeeee;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10px;
    overflow-y: scroll;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 160px;
    border-top: 1px solid #eeeeee;

    .line {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;
        * {
            margin-left: 5px;
        }
        .type {
            padding: 2px;
            font-weight: bold;
        }
        .info {
            background-color: #305283;
            color: black;
        }
        .error {
            background-color: #751111;
            color: black;
        }
    }
}
