<template>
<svg id="Layer_1" version="1.1" viewBox="0 0 512 512"
  :x="x + 'px'"
  :y="y + 'px'"
  :width="width + 'px'"
  :height="height + 'px'"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <g>
    <g>
      <path d="M437.019,74.981C388.668,26.629,324.38,0,256,0C187.619,0,123.332,26.629,74.98,74.981C26.629,123.332,0,187.62,0,256
        s26.629,132.668,74.981,181.02C123.332,485.371,187.619,512,256,512c68.38,0,132.668-26.629,181.019-74.98
        C485.37,388.668,512,324.38,512,256S485.37,123.332,437.019,74.981z M182.06,35.044c-10.76,11.17-20.727,24.896-29.67,41.004
        c-6.283-5.617-12.448-11.75-18.472-18.408C148.928,48.368,165.057,40.748,182.06,35.044z M114.821,70.789
        c8.71,9.833,17.715,18.705,26.979,26.573c-11.776,26.527-20.372,56.726-25.438,89.028c-27.946-9.887-50.19-23.266-65.638-39.851
        c-0.074-0.079-0.154-0.146-0.229-0.222C66.331,116.767,88.354,91.014,114.821,70.789z M23.011,256
        c0-30.947,6.08-60.495,17.084-87.537c19.925,18.859,45.443,32.164,73.248,41.426c-1.522,15.064-2.31,30.48-2.31,46.107
        c0,15.629,0.788,31.046,2.31,46.112c-27.807,9.261-53.325,22.565-73.252,41.421C29.09,316.491,23.011,286.944,23.011,256z
         M114.81,441.201c-26.465-20.225-48.485-45.978-64.319-75.526c0.076-0.077,0.158-0.145,0.232-0.226
        c15.45-16.582,37.695-29.958,65.641-39.844c5.066,32.297,13.662,62.494,25.434,89.019
        C132.531,422.494,123.522,431.367,114.81,441.201z M133.905,454.353c6.031-6.664,12.201-12.8,18.49-18.42
        c8.943,16.109,18.905,29.851,29.665,41.024C165.052,471.251,148.917,463.628,133.905,454.353z M244.492,487.923
        c-27.028-4.988-52.52-27.467-72.765-64.557c-0.366-0.67-0.72-1.354-1.082-2.031c23.512-16.669,48.395-26.35,73.846-28.595V487.923
        z M244.492,369.659c-29.091,2.162-57.339,12.518-83.847,30.583c-10.239-24.368-17.696-51.958-22.063-81.446
        c30.339-7.986,65.982-12.484,105.91-13.206V369.659z M244.492,282.564c-34.062,0.589-72.477,3.926-108.671,13.015
        c-1.172-12.948-1.778-26.175-1.778-39.583c0-13.405,0.605-26.63,1.778-39.577c36.192,9.092,74.607,12.428,108.671,13.017V282.564z
         M244.492,206.41c-39.929-0.723-75.572-5.221-105.911-13.208c4.368-29.491,11.824-57.085,22.064-81.454
        c26.507,18.066,54.754,28.421,83.847,30.583V206.41z M244.492,119.248c-25.452-2.245-50.336-11.927-73.844-28.596
        c0.36-0.675,0.714-1.358,1.079-2.026c20.245-37.088,45.737-59.569,72.765-64.557V119.248z M397.177,70.788
        c26.469,20.225,48.492,45.979,64.327,75.529c-0.075,0.077-0.156,0.144-0.23,0.223c-15.45,16.585-37.696,29.965-65.643,39.852
        c-5.066-32.301-13.662-62.5-25.437-89.027C379.461,89.495,388.466,80.622,397.177,70.788z M378.082,57.639
        c-6.026,6.661-12.191,12.794-18.476,18.412c-8.943-16.111-18.913-29.839-29.674-41.011
        C346.938,40.745,363.07,48.366,378.082,57.639z M267.503,24.069c27.027,4.988,52.52,27.469,72.764,64.557
        c0.366,0.67,0.72,1.353,1.082,2.03c-23.508,16.669-48.391,26.35-73.845,28.593V24.069z M351.349,111.749
        c10.24,24.369,17.697,51.963,22.064,81.453c-30.339,7.986-65.981,12.485-105.91,13.207V142.33h0
        C296.596,140.169,324.844,129.814,351.349,111.749z M267.503,229.437c34.062-0.588,72.477-3.926,108.669-13.016
        c1.172,12.946,1.778,26.171,1.778,39.576c0,13.408-0.605,26.633-1.778,39.582c-36.193-9.089-74.607-12.426-108.669-13.014V229.437
        z M267.503,305.589c39.928,0.723,75.57,5.22,105.909,13.205c-4.367,29.488-11.823,57.078-22.062,81.445
        c-26.509-18.064-54.756-28.419-83.847-30.581V305.589z M267.503,487.924v-95.183c25.452,2.244,50.336,11.923,73.847,28.593
        c-0.361,0.678-0.717,1.362-1.083,2.033C320.023,460.456,294.53,482.937,267.503,487.924z M329.932,476.96
        c10.762-11.174,20.726-24.919,29.67-41.03c6.29,5.622,12.462,11.759,18.492,18.424
        C363.078,463.629,346.943,471.253,329.932,476.96z M397.189,441.203c-8.714-9.835-17.723-18.709-26.992-26.58
        c11.774-26.525,20.368-56.72,25.433-89.018c27.947,9.884,50.194,23.262,65.645,39.845c0.075,0.081,0.156,0.147,0.234,0.226
        C445.675,395.225,423.654,420.978,397.189,441.203z M398.652,302.106c1.522-15.065,2.31-30.482,2.31-46.11
        c0-15.627-0.788-31.041-2.31-46.105c27.808-9.262,53.326-22.568,73.253-41.428c11.004,27.041,17.084,56.59,17.084,87.537
        c0,30.944-6.078,60.491-17.08,87.53C451.981,324.672,426.461,311.367,398.652,302.106z"/>
    </g>
  </g>
  </svg>
</template>

<script src="./scripts.js" />

<style src="./styles.scss" lang="scss"/>