<template>
<svg
    id="Capa_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
    xml:space="preserve"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    :x="x + 'px'"
    :y="y + 'px'"
    :width="width"
    :height="height"
>
<g>
	<path d="M336,128c8.844,0,16-7.156,16-16V80c0-8.844-7.156-16-16-16c-8.828,0-16,7.156-16,16v32c0,4.422,1.797,8.422,4.688,11.328
		C327.594,126.219,331.578,128,336,128z"/>
	<path d="M400,160c8.844,0,16-7.156,16-16V48c0-8.844-7.156-16-16-16c-8.828,0-16,7.156-16,16v96c0,4.422,1.797,8.422,4.688,11.328
		C391.594,158.219,395.578,160,400,160z"/>
	<path d="M464,192c8.844,0,16-7.156,16-16V16c0-8.844-7.156-16-16-16c-8.828,0-16,7.156-16,16v160c0,4.422,1.797,8.422,4.688,11.328
		C455.594,190.219,459.578,192,464,192z"/>
	<path d="M176,128c4.422,0,8.406-1.781,11.313-4.672C190.203,120.422,192,116.422,192,112V80c0-8.844-7.172-16-16-16
		c-8.844,0-16,7.156-16,16v32C160,120.844,167.156,128,176,128z"/>
	<path d="M112,160c4.422,0,8.406-1.781,11.313-4.672C126.203,152.422,128,148.422,128,144V48c0-8.844-7.172-16-16-16
		c-8.844,0-16,7.156-16,16v96C96,152.844,103.156,160,112,160z"/>
	<path d="M48,192c4.422,0,8.406-1.781,11.313-4.672C62.203,184.422,64,180.422,64,176V16c0-8.844-7.172-16-16-16
		c-8.844,0-16,7.156-16,16v160C32,184.844,39.156,192,48,192z"/>
	<path d="M480,288H336c0-17.674-14.328-32-32-32h-16V64c0-17.672-14.328-32-32-32s-32,14.328-32,32v192h-16
		c-17.672,0-32,14.326-32,32H32c-17.672,0-32,14.326-32,32v160c0,17.674,14.328,32,32,32h448c17.672,0,32-14.326,32-32V320
		C512,302.326,497.672,288,480,288z M448,448H64v-96h384V448z"/>
	<g>
		<circle cx="128" cy="402" r="32"/>
		<circle cx="224" cy="402" r="32"/>
	</g>
</g>
</svg>
</template>

<script src="./scripts.js" />

<style src="./styles.scss" lang="scss"/>