<template>
  <div class="computer-interface">
    <div class="computer-interface__header">
        <span>{{ name }}</span>
        <span class="mac-address">{{ macAddress }}</span>
        <StatusComponent :status="status"/>
    </div>
    <div class="actions">
      <button class="connect-btn" @click="wifi" v-if="!isConnected">
        <IconComponent name="wifi"/>
        <span>Подключить</span>
      </button>
      <button class="connect-btn" @click="wifi" v-else>
        <IconComponent name="wifi-off"/>
        <span>Отключить</span>
      </button>
      <button class="connect-btn" @click="sendRequest" >
        <IconComponent name="arrow-up"/>
        <span>Запрос</span>
      </button>
    </div>
  </div>
</template>

<script src="./scripts.js" />

<style src="./styles.scss" lang="scss"/>