$main-bg-color: #364d73;
$acent-color: #526175;

.computer-interface {
    background: #eeeeee;
    padding: 5px;
    margin: 5px 0;
    height: 60px;
    width: 400px;
    font-size: 12px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.60);
}

.connect-btn {
    border-radius: 2px;
    outline: none;
    border: none;
    background: $main-bg-color;
    display: flex;
    flex-direction: row;
    height: 20px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.connect-btn:hover {
    transition: all linear 0.2s;
    background: $acent-color;
}

.connect-btn > svg {
    fill: white;
}

.connect-btn > * {
    margin: 0 5px;
}

.computer-interface__header {
    font-size: 14px;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    color: $main-bg-color;
}

.computer-interface__header > * {
    margin-left: 5px;
}

.status {
    margin-left: 10px;
    padding: 2px 4px;
    border-radius: 4px;

    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase
}

.alert {
    background: #e09595;
    color: #8a4848;
}

.success {
    background: #a2caa3;
    color: #488a56;
}

.mac-address {
    color: black;
    font-size: 9px;
}

.actions {
    display: flex;
    flex-direction: row;

    button{
        font-size: 10px;
        margin-left: 10px;
    }
}
